*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(assets/photo-1644329843491-99edfc83de04.avif);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#err, #errModal{
    display: none;
}
#show{
 display: flex ;
 flex-wrap: wrap;
 gap: 1.5rem;
}
.card{
    width: 12rem;
    justify-content: center;
}

@media screen and (max-width:470px) {
    #show{
        align-items: center;
        justify-content: center;
        gap: 1rem;
       }
       .card{
        width: 100%;
       }
}
.button {
    --font-color: #fefefe;
    --bg-color: #111;
    --main-color: #fefefe;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  
  .button:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
