*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(assets/photo-1644329843491-99edfc83de04.avif);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
#err, #errModal{
    display: none;
}
#show{
 display: flex ;
 flex-wrap: wrap;
 gap: 1.5rem;
}
